:root {
    --first-color: #fff;
    --second-color: #e1e8ef;
    --third-color: #000000;
    --fourth-color: #121e2d;
    --fifth-color: #2676B9;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    background-color: var(--first-color);
    position: relative;
    padding-bottom: 5rem;
    font-family: 'Roboto', sans-serif;

}

.title img {
    width: 35%;
}


h2,
h3,
h4,
p {
    color: var(--fourth-color);
    text-align: center;
}

h3.name {
    color: var(--third-color);
}

input#teamName {
    border: 1px solid var(--second-color);
}

a.title {
    box-shadow: none;
}

a {
    display: inline-block;
    background-color: var(--second-color);
    color: var(--third-color);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    padding: 1%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.new-training {
    margin: 2%;
    text-align: center;
}

a:hover {
    background-color: var(--fifth-color);
    color: var(--second-color);
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
    flex-direction: column;
}
ul.flex-container li {
    list-style: none;
}
.navbar {
    background-color: var(--fourth-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1cqb;
    color: var(--third-color);
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container h1 {
    color: var(--second-color);
}

.logo-container:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}
.nav-links {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links li {
    list-style: none;
}

.nav-links a {
    color: var(--second-color);
    background-color: var(--fourth-color);
    text-decoration: none;
    padding: 7%;
    transition: color 0.3s ease;
    box-shadow: none;
    font-size: 70%;
    /* width: 0%; */
}

.nav-links a:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}


.add-player-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 25px;
}

.add-player-form button {
    color: var(--third-color);
    background-color: var(--second-color);
    border: none;
    padding: 5px 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.add-player-form button:hover {
    background-color: var(--third-color);
}

.contain {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

.contain > section > article {
    padding: 2%;
    background-color: var(--second-color);
    box-shadow: 13px 24px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 1%;
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 120%;
}

.contain > section > article > img {
        width: 27%;
        border-radius: 50%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}

.left {
    width: 50%;
       
     
}

.right {
    width: 50%;
    margin-left: auto;
}

.inline-form {
    display: inline;
}

.my-form-class {
    margin: 0 20px;
    color: var(--third-color);
}

.my-form-class input,
.my-form-class button {
    border: 1px solid var(--second-color);
}

button {
    display: inline-block;
    padding: 1.5rem;
    background-color: var(--second-color);
    color: var(--third-color);
    text-decoration: none;
    border-radius: 5px;
    margin: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.sessions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.session-card {
    margin-bottom: 2%;
    border: 1px solid var(--second-color);
    padding: 4%;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    animation: slideInFromBottom 1s ease-out;
    animation-delay: calc(var(--i) * 0.5s);
}

section.button {
    display: flex;
    justify-content: space-around;

}

.session-card a {
    padding: 1%;
}

.training-session-form form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2%;
}


.training-session-form-container h2 {
    text-align: center;
    margin-bottom: 3%;
    color: var(--fourth-color);
}

.form-control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.formId {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-content: center;
    margin: auto;
    background-color: var(--fourth-color);
    border-radius: 5px solid var(--second-color);
    padding: 2%;
    transition: opacity 1s ease-in-out;
    transition-delay: 2s;
    color: var(--first-color);
    align-items: center;
}

.training-session-form {
    width: 50%;
    background-color: var(--fourth-color);
    padding: 3%;
    border-radius: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.training-session-form .form-control {
    margin-bottom: 1%;
}

.training-session-form button[type="submit"] {
    margin-top: 16%;
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
}

a.title {
    background-color: var(--fourth-color);
    font-weight: bold;
}

li.player {
    width: 27%;
    margin: 1%;
    padding: 1%;
    border: 1px solid var(--second-color);
    border-radius: 5px;
    animation: slideInFromBottom 1s ease-out;
    animation-delay: calc(var(--i) * 0.5s);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}

.container {
    width: 90%;
    margin: auto;
}

.teams {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 40%;
}

.training-sessions-index {
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    width: 106%;
    /* max-width: 30%; */
    flex-wrap: wrap;
}

.team,
.session-index {
    background-color: var(--second-color);
    padding: 3%;
    margin: 4%;
    width: 16%;
    border-radius: 34px;
}

.session-info {
    background-color: var(--fourth-color);
    padding: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.session-info p, .session-info h2 {
    color: var(--second-color);
    font-weight: bold;
}

.presence-info {
    padding: 2%;
    margin-bottom: 2%;
    text-align: center;
    list-style: none;
}

.session-actions {
    background-color: var(--third-color);
    padding: 20px;
    margin-bottom: 20px;
}

.training {
    background-color: var(--first-color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

article.training {
    width: 60%;
    margin: 0 auto;
    padding: 1%;
    border: 0.5px solid var(--second-color);
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3%;
    transition: transform 0.8s ease;
    transform: scale(1.1);
    align-items: center;
    animation: slideInFromBottom 1s ease-out;
    animation-delay: calc(var(--i) * 0.5s);
    list-style: none;
}

.footer-content {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--fourth-color);
    padding: 2%;
    text-align: center;
}

.footer-content p {
    color: var(--second-color);
}

.training-session-form label {
    color: var(--second-color);
    font-weight: bold;
}

.training-session-form input,
.training-session-form select {
    color: var(--fourth-color);
    border: 1px solid var(--second-color);
    border-radius: 10px;
    padding: 1%;
}

.session {
    width: 40%;
    margin: auto;
}

.form-container {
    width: 100px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 2%;
}

.form-container ul {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.form-container ul li {
    display: flex;
    border-bottom: 1px solid var(--second-color);
    width: 100px;
    margin-bottom: 16px;
    margin-top: 20px;
    justify-content: space-evenly;
}

.form-container label {
    color: var(--third-color);
    font-weight: bold;
}

div.presence-info > ul > li{
    list-style: none;
}
.form-container input {
    color: var(--third-color);
    border: 1px solid var(--second-color);
    border-radius: 10px;
    padding: 5px;
    width: 15px;
    height: 15px;
    border-radius: 20px;
}

.form-container input:checked {
    background-color: var(--second-color);
}

.form-container table {
    width: 100px;
    border-collapse: collapse;
    background: var(--fourth-color);
}

.form-container th,
.form-container td {
    border: 1px solid var(--second-color);
    padding: 1%;
}

.form-container thead {
    border: 1px solid var(--first-color);

}

.statistic-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.form-container th {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: left;
    background-color: var(--second-color);
    color: var(--first-color);
}

.player-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
}

.player-info {
    color: var(--third-color);
    font-weight: bold;
}

.submit-button {
    text-align: center;
}

.noteam {
    display: flex;
    text-align: center;
    margin-top: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.alert.alert-danger {
    color: red;
    font-weight: bold;
}
.card {
    width: 40%;
    border: 1px solid var(--second-color);
    padding: 8px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    overflow: hidden;
}

.card img {
    width: 100px;
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 5%;
    width: 90%;
    margin: auto;
}

.card-body p {
    margin: 0 0 10px;
    line-height: 1.5;

}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px; 
    height: 3px;
    background-color: var(--second-color);
    margin: 5px;
}

.nav-links.nav-active {
    display: block;
}


@media screen and (max-width: 769px) {
    /* Add styles for tablets and larger screens here */

    .session{
        width: 80%;
        margin: auto;
        padding: 4%;
    }

    #training_session_date{
        width: 59%;
    }
    .session-info h2 {
        color: var(--second-color);
    }

    h2 {
        font-size: 2rem;
        color: var(--fourth-color);
    }

    h3 {
        font-size: 100%;
    }

    p {
        font-size: 1.5rem;
    }

    button,
    a {
        font-size: 1rem;
    }

    .contain {
        width: 90%;
    }
    .contain > section > article {
        width: 80%;
        margin: auto;
        padding: 1%;
        border: 1px solid var(--second-color);
        border-radius: 5px;
        margin-bottom: 6%;
        display: flex;
        align-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        font-size: 120%;
    }

    .left, .right {
        width: 90%;
    }

    .nav-links {
        display: none;
    }

    .burger {
        display: block;
    }

    li.player {
        width: 90%;
        margin: 1%;
        padding: 1%;
        border: 1px solid var(--second-color);
        border-radius: 5px;
    }

    article.training {
        width: 95%;
        height: 8%;
        margin: auto;
        padding: 2%;
        border: 0.5px solid var(--second-color);
        border-radius: 5px;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 10%;
        margin-left: -3%;
        align-items: center;
    }
    article.training p {
       font-size: 1rem;
    }

    .formId {
        width: 80%;
        margin: auto;
        padding: 2%;
        border-radius: 5px;
        margin: 4%auto;
    }

    .session-card {
        width: 80%;
        height: 10%;
        padding: 4%;
        margin: 1%;
    }
    .training-session-form {
        width: 95%;
        height: 20%;
        padding: 1%;
        margin: 1%;
    }

    .training-session-form label {
        font-size: 95%;
    }

    .training-session-form input {
        font-size: 69%;
    }

    .training-session-form select {
        font-size: 89%;
    }

    .training-session-form button[type="submit"] {
        font-size: 129%;
    }

    .flex-container {
        flex-direction: row;
        width: 90%;

    }

    .teams {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }

   
}